{% extends 'sito/base.html' %}

{% block register %}
<section class="class spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="class__form">
                        <div class="section-title text-center">
                            <h2>Benvenuto</h2>
                        </div>
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            {{ form.nome }}
                            {{ form.cognome }}
                            {{ form.datanascita }}
                            {{ form.mail }}
                            {{ form.username }}
                            {{ form.password }}
                            {{ form.telefono }}
                            {{ form.img }}
                            {{ form.submit }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


 <section class="class spad">

 </section>

{% endblock %}