{% extends 'gestionale/base.html' %}

{% block formSemilavorato %}
<body>
  </div>
  {% from "sito/_formhelpers.html" import render_field %}
      <form method="POST" action="">
          <dl>
            {{ form.hidden_tag() }}
            {{ render_field(form.Nome) }}
            {{ render_field(form.PrezzoUnitario) }}
            {{ render_field(form.IVA) }}
            {{ render_field(form.Categoria) }}
            {{ render_field(form.Descrizione) }}
          </dl>
          {{ form.submit }}
      </form>
  </div>
</body>
{% endblock %}