{% extends 'gestionale/base.html' %}

{% block grafici %}
<h2>Bilancio semplificato - Grafico</h2>
<div class="chartBox center">
    <canvas id="myChart" ></canvas>
</div>
<br>
{% endblock %}

{% block analisiSezioni %}
<p class="h2">Macroaree Entrate</p>
<table class="table">
    <tr>
      <th scope="col" class="text-center">Voce</th>
        <th scope="col" class="text-center">Descrizione</th>
        <th scope="col" class="text-center">Importo Netto</th>
        <th scope="col" class="text-center">Importo Lordo</th>
    </tr>
    <tr>
      <th scope="row" class="text-start text-center">Ecommerce</th>
      <td class="text-start text-center">Guadagni lordi provenenti dal sito</td>
      <td class="text-start text-center">{{EcommerceNetto}}€</td>
      <td class="text-start text-center">{{EcommerceLordo}}€</td>
    </tr>
    <tr>
      <th scope="row" class="text-start text-center">In loco</th>
      <td class="text-start text-center">Guadagni lordi provenenti dalla pasticceria</td>
      <td class="text-start text-center">{{scontriniNetto}}€</td>
      <td class="text-start text-center">{{scontriniLordo}}€</td>
    </tr>
    <tr>
      <th scope="row" class="text-start text-center">Extra</th>
      <td class="text-start text-center">Guadagni lordi provenenti da catering o altro</td>
      <td class="text-start text-center">{{ExtraNetto}}€</td>
      <td class="text-start text-center">{{ExtraLordo}}€</td>
    </tr>
    <tr>
        <th scope="row" class="text-start text-center"></th>
        <td class="text-start text-center"></td>
        <th class="text-start text-center">TotaleNetto:</br> <div id="ricavi">{{EcommerceNetto + scontriniNetto + ExtraNetto}}</div></th>
        <th class="text-start text-center">TotaleLordo:</br> {{EcommerceLordo + scontriniLordo + ExtraLordo}}</th>
    </tr>
</table>
<br>
<p class="h2">Macroaree Uscite</p>
<table class="table">
    <tr>
      <th scope="col" class="text-center">Voce</th>
        <th scope="col" class="text-center">Descrizione</th>
        <th scope="col" class="text-center">Importo</th>
    </tr>
    <tr>
      <th scope="row" class="text-start text-center">Fornitori</th>
      <td class="text-start text-center">Spese legate ai fornitori</td>
      <td class="text-start text-center">{{CostiFornitori}}€</td>
    </tr>
    <tr>
      <th scope="row" class="text-start text-center">Personale</th>
      <td class="text-start text-center">Spese legate al dipendente</td>
      <td class="text-start text-center">{{CostiPersonale}}€</td>
    </tr>

    <tr>
        <th scope="row" class="text-start text-center"></th>
        <td class="text-center"></td>
        <th class="text-center">Totale:</br> <div id="costi">-{{CostiFornitori + CostiPersonale}}</div></th>
    </tr>
</table>

<br>
<p class="h2">Statistiche</p>
<table class="table">
    <tr>
      <th scope="col" class="text-center">Voce</th>
        <th scope="col" class="text-center">Descrizione</th>
        <th scope="col" class="text-center">Valore</th>
    </tr>
    <tr>
      <th scope="row" class="text-start text-center">Utile/Perdita</th>
      <td class="text-start">Rapporto tra i guadagni e le spese</td>
      <td class="text-start">{{indici[0]}}€</td>
    </tr>
    <tr>
      <th scope="row" class="text-start text-center">% Spese</th>
      <td class="text-start">Quanto incidono le spese nel quadro complessivo</td>
      <td class="text-start">{{'%0.2f'|format(indici[1])}}%</td>
    </tr>
    <tr>
      <th scope="row" class="text-start text-center">% Ricavi</th>
      <td class="text-start">Quanto incidono gli incassi nel quadro complessivo</td>
      <td class="text-start">{{'%0.2f'|format(indici[2])}}%</td>
    </tr>
    <tr>
      <th scope="row" class="text-start text-center">Spesa più<br>significativa</th>
      <td class="text-start">La spesa che incide di più nella situazione globale</td>
      <td class="text-start">{{indici[3]}}€</td>
    </tr>
    <tr>
      <th scope="row" class="text-start text-center">Ricavo più<br>significativo</th>
      <td class="text-start">Il ricavo che incide di più nella situazione globale</td>
      <td class="text-start">{{indici[4]}}€</td>
    </tr>
</table>
{% endblock %}