{% extends 'gestionale/base.html' %}

{% block commenti %}
<h2>Commenti al Blog</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="center">
    {% for message in messages %}
      <h2 class="text-center">{{ message }}</h2>
    {% endfor %}
    </div>
  {% else %}
    <table class="table">
  <thead>
    <tr>
      <th scope="col" class="text-center">Id</th>
      <th scope="col" class="text-center">Utente</th>
      <th scope="col" class="text-center">Testo</th>
    </tr>
  </thead>
  <tbody>
    {% for com in commenti%}
    <tr>
      <th scope="row" class="text-center">{{com.Id}}</th>
      <td class="text-center">{{com.Utente}}</td>
      <td class="text-center">{{com.Testo}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<form action="{{url_for('blog.GCommenti')}}" method="post">
    <div class="row g-3">
        <div class="col-4"></div>
        <div class="col-auto">
            <button type="submit" class="btn btn-secondary" name="commenti" value="-1">Precedenti 5</button>
        </div>
        <br>
        <div class="col-auto">
            <button type="submit" name="commenti" value="1" class="btn btn-primary">Successivi 5</button>
        </div>
        <div class="col-4"></div>
    </div>
</form>
  {% endif %}
{% endwith %}

{% endblock %}