{% extends 'gestionale/base.html' %}

{% block persone %}
<a href="{{url_for('personale.addDipendente')}}" class="btn btn-primary">Aggiungi dipendente</a>
<br>
<br>
<div class="row">
    {% for i in range(0, 10)%}
        <div class="col-4">
            <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='img/sito/shop/details/product-big-1.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <a href="#" class="btn btn-primary">Visualizza turni</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}