{% extends 'gestionale/base.html' %}

{% block persone %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="center">
    {% for message in messages %}
      <h2 class="text-center">{{ message }}</h2>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<h2>Dipendenti</h2>
<a href="{{url_for('personale.addDipendente')}}" class="btn btn-primary">Aggiungi dipendente</a>
<br>
<br>
{% if Dipendenti|length == 0 %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="center">
        {% for message in messages %}
          <h2 class="text-center">{{ message }}</h2>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
{% else %}
    <div class="row">
        {% for dip in Dipendenti%}
            <div class="col-4">
                <div class="card" style="width: 20rem;">
                <img src="{{url_for('static', filename=dip.img)}}" class="card-img-top DipImg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{dip.Nome}} {{dip.Cognome}}</h5>
                        <li>
                            <ul>Data di nascita: {{dip.DataNascita}}</ul>
                            <ul>Mail: {{dip.Mail}}</ul>
                            <ul>Telefono: +39 {{dip.Telefono}}</ul>
                            <ul>Data di assunzione: {{dip.DataAssunzione}}</ul>
                        </li>
                            <a href="{{url_for('personale.tabellaTurni', id=dip.Mail)}}" class="btn btn-outline-success  ">Visualizza turni</a>
                            <a href="{{url_for('personale.dropDipendente', id=dip.Mail)}}" class="btn btn-outline-danger">Licenzia</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{%endif%}
{% endblock %}