{% extends 'gestionale/base.html' %}

{% block documenti %}
<h2>Documenti</h2>
<a href="{{url_for('documenti.addDoc')}}" class="btn btn-primary">Inserisci nuovo documento ricevuto</a>
{% if stip %}
<a href="{{url_for('personale.stipendi')}}" class="btn btn-primary">Emmissione stipendi</a>
{% endif %}
<br>
<br>
<div class="container">
    <h2>Fatture acquisto</h2>
    <table class="table">
        <tr>
            <th class="text-center">Numero documento</th>
            <th class="text-center">Mittente</th>
            <th class="text-center">Data emissione</th>
            <th class="text-center">Ammontare</th>
            <th class="text-center">Status</th>
            <th class="text-center">Variazioni Opzionali</th>
        </tr>
        {% for fattura in FAcquisto%}
        <tr>
            <td class="text-center"><a href="{{url_for('documenti.docSingle', id=fattura.Id, categoria=0)}}">{{fattura.Id}}</a></td>
            <td class="text-center"><a href="{{url_for('documenti.docSingle', id=fattura.Id, categoria=0)}}">{{fattura.NomeDitta}}</a></td>
            <td class="text-center">{{fattura.Data}}</td>
            <td class="text-center">{{'%0.2f'| format(fattura.Totale)}}</td>
            <td class="p-3 mb-2 bg-danger text-white text-center">{% if fattura.Status %} Pagato {% else %} Non pagato {% endif %}</td>
            <td class="text-center">da calcolare</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="{{url_for('documenti.documentiGestionale')}}" method="post"><!--TODO CON IL REDIRECT GIUSTO-->
            <input type="hidden" name="nascosto" value="1">
            <div class="row g-3">
                <div class="col-auto">
                    <button type="submit" class="btn btn-secondary" name="fattureAcq" value="-1">Precedenti 10</button>
                </div>
                <br>
                <div class="col-auto">
                    <button type="submit" name="fattureAcq" value="1" class="btn btn-primary">Successivi 10</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>

<br>
<br>
<div class="container">
    <h2>Fatture vendita</h2>
    <table class="table">
        <tr>
            <th class="text-center">Numero documento</th>
            <th class="text-center">Beneficiario</th>
            <th class="text-center">Data emissione</th>
            <th class="text-center">Ammontare</th>
            <th class="text-center">Status</th>
            <th class="text-center">Variazione Opzionali</th>
        </tr>
        {% for fattura in FVendita%}
        <tr>
            <td class="text-center"><a href="{{url_for('documenti.docSingle', id=fattura.Id, categoria=1)}}">{{fattura.Id}}</a></td>
            <td class="text-center"><a href="{{url_for('documenti.docSingle', id=fattura.Id, categoria=1)}}">{{fattura.Mail_Cliente}}</a></td>
            <td class="text-center">{{fattura.Data}}</td>
            <td class="text-center">{{'%0.2f'| format(fattura.Totale)}}</td>
            <td class="p-3 mb-2 bg-danger text-white text-center">{% if fattura.Status %} Pagato {% else %} Non pagato {% endif %}</td>
            <td class="text-center">da calcolare</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="{{url_for('documenti.documentiGestionale')}}" method="post"><!--TODO CON IL REDIRECT GIUSTO-->
            <input type="hidden" name="nascosto" value="2">
            <div class="row g-3">
                <div class="col-auto">
                    <button type="submit" class="btn btn-secondary" name="fattureVen" value="-1">Precedenti 10</button>
                </div>
                <br>
                <div class="col-auto">
                    <button type="submit" name="fattureVen" value="1" class="btn btn-primary">Successivi 10</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>

<br>
<br>
<div class="container">
    <h2>DDT</h2>
    <table class="table">
        <tr>
            <th class="text-center">Numero documento</th>
            <th class="text-center">Mittente</th>
            <th class="text-center">Data emissione</th>
            <th class="text-center">Note</th>
            <th class="text-center">Peso</th>
            <th class="text-center">Colli</th>
            <th class="text-center">Ammontare</th>
            <th class="text-center">Status</th>
        </tr>
        {% for ddt in listDDT%}
        <tr>
            <td class="text-center"><a href="{{url_for('documenti.docSingle', id=ddt.Id, categoria=2)}}">{{ddt.Id}}</a></td>
            <td class="text-center"><a href="{{url_for('documenti.docSingle', id=ddt.Id, categoria=2)}}">{{ddt.Id_Fornitore}}</a></td>
            <td class="text-center">{{ddt.DataEmissione}}</td>
            <td class="text-center">{{ddt.Note}}</td>
            <td class="text-center">{{ddt.Peso}}</td>
            <td class="text-center">{{ddt.Colli}}</td>
            <td class="text-center">{{ddt.Importo}}</td>
            <td class="p-3 mb-2 bg-danger text-white text-center">{% if ddt.Status %} Pagato {% else %} Non pagato {% endif %}</td>

        </tr>
        {% endfor %}
    </table>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="{{url_for('documenti.documentiGestionale')}}" method="post"><!--TODO CON IL REDIRECT GIUSTO-->
            <input type="hidden" name="nascosto" value="3">
            <div class="row g-3">
                <div class="col-auto">
                    <button type="submit" class="btn btn-secondary" name="DDT" value="-1">Precedenti 10</button>
                </div>
                <br>
                <div class="col-auto">
                    <button type="submit" name="DDT" value="1" class="btn btn-primary">Successivi 10</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>
<br>
<br>
<div class="container">
    <h2>Scontrini Battuti</h2>
    <table class="table">
        <tr>
            <th class="text-center">Numero totale</th>
            <th class="text-center">Data emissione</th>
            <th class="text-center">Ammontare finale</th>
        </tr>
        {% for scontrini in listScontrini%}
        <tr>
            <td class="text-center"><a href="{{url_for('documenti.docSingle', id=scontrini.Id, categoria=3)}}">{{scontrini.Id}}</a></td>
            <td class="text-center"><a href="{{url_for('documenti.docSingle', id=scontrini.Id, categoria=3)}}">{{scontrini.Data}}</a></td>
            <td class="text-center">{{'%0.2f'| format(scontrini.Totale)}}</td>
        </tr>
        </a>
        {% endfor %}
    </table>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="{{url_for('documenti.documentiGestionale')}}" method="post" >
            <input type="hidden" name="nascosto" value="4">
            <div class="row g-3">
                <div class="col-auto">
                    <button type="submit" class="btn btn-secondary" name="scontrini" value="-1">Precedenti 10</button>
                </div>
                <br>
                <div class="col-auto">
                    <button type="submit" name="scontrini" value="1" class="btn btn-primary">Successivi 10</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>

{% endblock %}