{% extends 'gestionale/base.html' %}

{% block documenti %}
<h2>Documenti</h2>
<a href="#" class="btn btn-primary">Inserisci nuovo documento ricevuto</a>
<br>
<br>
<div class="container">
    <h2>Fatture acquisto</h2>
    <table class="table">
        <tr>
            <th class="text-center">Numero documento</th>
            <th>Mittente</th>
            <th>Data emissione</th>
            <th>Ammontare</th>
            <th>Status</th>
            <th>Vaziarioni Opzionali</th>
        </tr>
        {% for i in range(0, 10)%}
        <tr>
            <td class="text-center">{{i}}</td>
            <td>Gabibo</td>
            <td>1/1/2000</td>
            <td>5000000.00</td>
            <td>Da pagare</td>
            <td class="text-center">-</td>
        </tr>
        {% endfor %}
    </table>
</div>
<form action="{{url_for('documenti.documentiGestionale')}}" method="post"><!--TODO CON IL REDIRECT GIUSTO-->
    <input type="hidden" name="nascosto" value="1">
    <div class="row g-3">
        <div class="col-auto">
            <button type="submit" class="btn btn-secondary" name="fattureAcq" value="-1">Precedenti 10</button>
        </div>
        <br>
        <div class="col-auto">
            <button type="submit" name="fattureAcq" value="1" class="btn btn-primary">Successivi 10</button>
        </div>
    </div>
</form>
<br>
<br>
<div class="container">
    <h2>Fatture vendita</h2>
    <table class="table">
        <tr>
            <th class="text-center">Numero documento</th>
            <th>Beneficiario</th>
            <th>Data emissione</th>
            <th>Ammontare</th>
            <th>Status</th>
            <th>Vaziarioni Opzionali</th>
        </tr>
        {% for i in range(0, 10)%}
        <tr>
            <td class="text-center">{{i}}</td>
            <td>Gabibo</td>
            <td>1/1/2000</td>
            <td>5000000.00</td>
            <td>Da pagare</td>
            <td class="text-center">-</td>
        </tr>
        {% endfor %}
    </table>
</div>
<form action="{{url_for('documenti.documentiGestionale')}}" method="post"><!--TODO CON IL REDIRECT GIUSTO-->
    <input type="hidden" name="nascosto" value="2">
    <div class="row g-3">
        <div class="col-auto">
            <button type="submit" class="btn btn-secondary" name="fattureVen" value="-1">Precedenti 10</button>
        </div>
        <br>
        <div class="col-auto">
            <button type="submit" name="fattureVen" value="1" class="btn btn-primary">Successivi 10</button>
        </div>
    </div>
</form>
<br>
<br>
<div class="container">
    <h2>DDT</h2>
    <table class="table">
        <tr>
            <th class="text-center">Numero documento</th>
            <th>Mittente</th>
            <th>Data emissione</th>
            <th>Note</th>
            <th>Peso</th>
            <th>Colli</th>
            <th>Ammontare</th>
            <th>Status</th>
        </tr>
        {% for i in range(0, 10)%}
        <tr>
            <td class="text-center">{{i}}</td>
            <td>Gabibo</td>
            <td>1/1/2000</td>
            <td>descrizione del gabibo sesso pazzo</td>
            <td>500kg</td>
            <td>3</td>
            <td>5000000.00</td>
            <td>Da pagare</td>
        </tr>
        {% endfor %}
    </table>
</div>
<form action="{{url_for('documenti.documentiGestionale')}}" method="post"><!--TODO CON IL REDIRECT GIUSTO-->
    <input type="hidden" name="nascosto" value="3">
    <div class="row g-3">
        <div class="col-auto">
            <button type="submit" class="btn btn-secondary" name="DDT" value="-1">Precedenti 10</button>
        </div>
        <br>
        <div class="col-auto">
            <button type="submit" name="DDT" value="1" class="btn btn-primary">Successivi 10</button>
        </div>
    </div>
</form>
<br>
<br>
<div class="container">
    <h2>Scontrini Battuti</h2>
    <table class="table">
        <tr>
            <th class="text-center">Numero totale/th>
            <th>Data emissione</th>
            <th>Ammontare finale</th>
        </tr>
        {% for i in range(0, 10)%}
        <tr>
            <td class="text-center">{{i*10}}</td>
            <td>1/1/2000</td>
            <td>5000000.00</td>
        </tr>
        {% endfor %}
    </table>
</div>
<form action="{{url_for('documenti.documentiGestionale')}}" method="post"><!--TODO CON IL REDIRECT GIUSTO-->
    <input type="hidden" name="nascosto" value="4">
    <div class="row g-3">
        <div class="col-auto">
            <button type="submit" class="btn btn-secondary" name="scontrini" value="-1">Precedenti 10</button>
        </div>
        <br>
        <div class="col-auto">
            <button type="submit" name="scontrini" value="1" class="btn btn-primary">Successivi 10</button>
        </div>
    </div>
</form>
{% endblock %}