{% extends 'gestionale/base.html' %}

{% block formMerce %}
<h2>Aggiungi merce</h2>
{% from "sito/_formhelpers.html" import render_field %}
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-4">
            {{ render_field(form.Nome) }}
        </div>
        <div class="col-4">
            {{ render_field(form.Prezzo) }}
        </div>
        <div class="col-4">
            {{ render_field(form.IVA) }}
        </div>

    </div>
    <div class="row">
       <div class="col">
            {{ render_field(form.Allergeni) }}
        </div>
    </div>
    {{ render_field(form.Submit) }}
</form>


{% endblock %}