{% extends 'gestionale/base.html' %}

{% block formMerce %}


<h2>Aggiungi merce</h2>
    {% from "sito/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-4">
                {{ render_field(form.Nome) }}
            </div>
            <div class="col-4">
                {{ render_field(form.Prezzo) }}
            </div>
            <div class="col-4">
                {{ render_field(form.IVA) }}
            </div>
        </div>
        <hr>
        <div id="appendi">
                {{ render_field(form.Allergeni) }}
        </div>
        {{ render_field(form.Submit) }}
    </form>

<script>
    padre = document.getElementById("Allergeni")
    figli = padre.childNodes
    row = document.createElement("div")
    row.classList.add("row");

    col1 = document.createElement("col")
    col1.classList.add("col");
    for(i = 0; i < 7; i++)
        col1.appendChild(figli[i])

    col2 = document.createElement("col")
    col2.classList.add("col");

    while(padre.childNodes.length > 0){
        console.log(padre.childNodes[0])
        col2.appendChild(padre.childNodes[0])
    }

    x = document.getElementById("appendi")
    x.appendChild(row)
    row.appendChild(col1)
    row.appendChild(col2)

</script>
{% endblock %}