{% extends 'gestionale/base.html' %}

{% block header %}
<div class="row">
    <div class="col-lg-8 p-r-0 title-margin-right">
        <div class="page-header">
            <div class="page-title">
                <h1>Bentornata Viorica</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="stat-widget-two card-body">
                <div class="stat-content">
                    <div class="stat-text">Profitto lordo mensile</div>
                    <div class="stat-digit"><b><i class="fa fa-usd"></i>6500</b></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="stat-widget-two card-body">
                <div class="stat-content">
                    <div class="stat-text">Costi <br>lordi</div>
                    <div class="stat-digit"> <i class="fa fa-usd"></i><b>650</b></div>
                </div>
            </div>
        </div>
        <!-- /# card -->
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="stat-widget-two card-body">
                <div class="stat-content">
                    <div class="stat-text">Clienti<br> registrati</div>
                    <div class="stat-digit"> <i class="fa fa-usd"></i><b>7800</b></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="stat-widget-two card-body">
                <div class="stat-content">
                    <div class="stat-text">Prootti<br> da produrre</div>
                    <div class="stat-digit"> <i class="fa fa-usd"></i><b>500</b></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /# column -->
</div>
{% endblock %}

{% block charts %}
<br>
<div class="row">
    <div class="col">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
</div>
{%endblock%}

{%block prev_expencive%}
<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-title pr">
                <h4>Fatture fornitori</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table student-data-table m-t-20">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Expense Type</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Email</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#2901</td>
                                <td>
                                    Salary
                                </td>
                                <td>
                                    $2000
                                </td>
                                <td>
                                    <span class="badge badge-primary">Paid</span>
                                </td>
                                <td>
                                    edumin@gmail.com
                                </td>
                                <td>
                                    10/05/2017
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /# column -->
</div>
{% endblock %}

{% block ordini %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Ordini ricevuti</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Product</th>
                                <th>quantity</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="round-img">
                                        <a href=""><img width="35" src="./images/avatar/1.png" alt=""></a>
                                    </div>
                                </td>
                                <td>Lew Shawon</td>
                                <td><span>Dell-985</span></td>
                                <td><span>456 pcs</span></td>
                                <td><span class="badge badge-success">Done</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block utility %}
<!-- /# row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id='calendar'></div>
            </div>
        </div>
        <!-- /# card -->
    </div>
    <!-- /# column -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-title">
                <h4>Task</h4>
            </div>
            <div class="todo-list">
                <div class="tdl-holder">
                    <div class="tdl-content">
                        <ul>

                        </ul>
                    </div>
                    <input type="text" class="tdl-new form-control" placeholder="Write new item and hit 'Enter'...">
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.css">
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth'
    });
    calendar.render();
    });
</script>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endblock %}