{% extends 'gestionale/base.html' %}

{% block formMerce %}
    {% from "sito/_formhelpers.html" import render_field %}
    <form method="POST" action="" class="center form-group">
        <h2>Modifica {{Merce.Nome}}</h2>
        <lable>Nome</lable>
        <input type="text" class="form-control" placeholder="inserire nome" name = "nome" value = "{{Merce.Nome}}" required>
        <br>

        <lable>Quantità</lable>
        <input type="number" class="form-control" placeholder="inserire quantità" name = "quantità" value = "{{Merce.Quantità}}" required>
        <br>

        <div class="row">
            <div class="col">
                <lable>Prezzo</lable>
                <input type="number" class="form-control" placeholder="inserire prezzo" name = "prezzo" value = "{{Merce.PrezzoUnitario}}" required>
            </div>
            <div class="col">
                <lable>IVA</lable>
                <input type="number" class="form-control" placeholder="inserire iva" name = "iva" value = "{{Merce.IVA}}" required>
            </div>
        </div>

        <br>
        <lable>Materia prima</lable>
        <br>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" id="si" name = "materiaprima" value="True">

                </div>
            </div>
            é una materia prima
        </div>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" id="no" name = "materiaprima" value="False"">

                </div>
            </div>
            <div>
                 non è una materia prima
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-success">Aggiorna</button>
    </form>
{% endblock %}