{% extends 'gestionale/base.html' %}

{% block formSemilavoratoModify %}
    {% from "sito/_formhelpers.html" import render_field %}
    <form method="POST" action="" class="center form-group">
        <h2>Modifica {{Semi.Nome}}</h2>
        <lable>Nome</lable>
        <input type="text" class="form-control" placeholder="inserire nome" name = "nome" value = "{{Semi.Nome}}" required>
        <br>

        <lable>Quantità in magazzino</lable>
        <input type="number" class="form-control" placeholder="inserire quantità" name = "quantità" value = "{{Semi.Quantità}}" required>
        <br>

        <div class="row">
            <div class="col">
                <lable>Prezzo</lable>
                <input type="number" class="form-control" placeholder="inserire prezzo" name = "prezzo" value = "{{Semi.PrezzoUnitario}}" required>
            </div>
            <div class="col">
                <lable>IVA</lable>
                <input type="number" class="form-control" placeholder="inserire iva" name = "iva" value = "{{Semi.IVA}}" required>
            </div>
        </div>
        <br>
        <lable>Categoria</lable>
        <input type="text" class="form-control" placeholder="inserire categoria" name = "categoria" value = "{{Semi.Categoria}}" required>
        <br>
        <lable>Descrizione</lable>
        <textarea type="text" class="form-control" placeholder="inserire descrizione" name = "descrizione" value = "{{Semi.Descrizione}}"></textarea>
        <br>
        <lable>Incipit</lable>
        <textarea type="text" class="form-control" placeholder="inserire incipit" name = "incipit" value = "{{Semi.Incipit}}" required></textarea>
        <br>
        <button type="submit" class="btn btn-outline-success ">Aggiorna</button>
    </form>
{% endblock %}