{% extends 'gestionale/base.html' %}

{% block ricevuti %}
<br>
<p class="h2">Ordini Ricevuti</p>
<br>

<table class="table">
    <tr>
        <th scope="col" class="text-center">Numero doc</th>
        <th scope="col" class="text-center">Mail cliente</th>
        <th scope="col" class="text-start text-center">Status</th>
        <th scope="col" class="text-start text-center">Data</th>
    </tr>

    {% for ricevuto in list_ricevuti %}
    <tr>
        <th class="text-start text-center"><a href="{{url_for('ordini.ordineSingle', id=ricevuto.Id, categoria=1)}}">{{ricevuto.Id}}</a></th>
        <td class="text-start text-center"><a href="{{url_for('ordini.ordineSingle', id=ricevuto.Id, categoria=1)}}">{{ricevuto.Mail_Cliente}}</a></td>
        {% if ricevuto.Status == False%}
            <td class="text-start text-center p-3 mb-2 bg-danger text-white">Da fare</td>
        {% else %}
            <td class="text-start text-center p-3 mb-2 bg-success text-white">Fatto</td>
        {% endif %}
        <td class="text-start text-center">{{ricevuto.Data}}</td>
    </tr>
    {% endfor %}

</table>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="{{url_for('ordini.ordiniGestionale')}}" method="post">
            <div class="row g-3">
                <input type="hidden" name="nascosto" value="1">
                <div class="col-auto">
                    <button type="submit" class="btn btn-secondary" name="ricevuti" value="-1">Precedenti 5</button>
                </div>
                <br>
                <div class="col-auto">
                    <button type="submit" name="ricevuti" value="1" class="btn btn-primary">Successivi 5</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>

{% endblock %}

{% block emessi %}
<br>
<hr>
<br>
<p class="h2">Ordini Effettuati</p>
<br>
<table class="table">
    <tr>
      <th scope="col" class="text-center">Numero doc</th>
        <th scope="col" class="text-center">Nome fornitore</th>
        <th scope="col" class="text-start text-center">Status</th>
        <th scope="col" class="text-start text-center">Data</th>
    </tr>

    {% for emesso in list_emessi %}
    <tr>
        <th scope="row" class="text-start text-center"><a href="{{url_for('ordini.ordineSingle', id=emesso.Id, categoria=2)}}">{{emesso.Id}}</a></th>
        <td class="text-start text-center"><a href="{{url_for('ordini.ordineSingle', id=emesso.Id, categoria=2)}}">{{emesso.NomeDitta}}</a></td>
        {% if emesso.Status == False%}
            <td class="text-start text-center p-3 mb-2 bg-danger text-white">Da fare</td>
        {% else %}
            <td class="text-start text-center p-3 mb-2 bg-success text-white">Fatto</td>
        {% endif %}
        <td class="text-start text-center">{{emesso.Data}}</td>
    </tr>
    {% endfor %}

</table>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="{{url_for('ordini.ordiniGestionale')}}" method="post">
            <div class="row g-3">
                <input type="hidden" name="nascosto" value="2">
                <div class="col-auto">
                    <button type="submit" class="btn btn-secondary" name="emessi" value="-1">Precedenti 5</button>
                </div>
                <br>
                <div class="col-auto">
                    <button type="submit" name="emessi" value="1" class="btn btn-primary">Successivi 5</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>

{% endblock %}