{% extends 'gestionale/base.html' %}

{% block calendarioTurni %}
<h2>Organizzazione turni</h2>
<table class="table">
    <tr>
        <!--TODO METTERE DATE-->
        <th class="text-center">Lunedì - </th>
        <th class="text-center">Mertedì - </th>
        <th class="text-center">Mercoledì - </th>
        <th class="text-center">Giovedì - </th>
        <th class="text-center">Venerdì - </th>
        <th class="text-center">Sabato - </th>
        <th class="text-center">Domenica - </th>
    </tr>
    <tr>
    {% for i in range(0, 7) %}
        <td class="paddingCalendar">
            <ul>
                {% for i in range(0, Turni|length) %}
                    <li class="text-center"> <h5>{{Turni[i].Nome}}</h5> </li>
                    <!--TODO casta le ore-->
                    <li class="text-center">{{Turni[i].OraInizio}}-{{Turni[i].OraFine}}</li>
                    {% for j in range(0,2) %}
                        <ul class="text-center">-</ul>
                    {% endfor %}
                <br>
                {% endfor %}
            </ul>
        </td>
    {% endfor %}
    </tr>
    <tr>
        {% for i in range(0, 7) %}
        <td class="text-center">
            <a href="{{url_for('personale.addDipendenteTurno', data='30.09.2022')}}" class="btn">Aggiungi<br>Personale</a><!--TODO CON IL REDIRECT GIUSTO-->
        </td>
        {% endfor %}
    </tr>
</table>
<form action="{{url_for('ordini.ordiniGestionale')}}" method="post"><!--TODO CON IL REDIRECT GIUSTO-->
    <div class="row g-3">
        <div class="col-auto">
            <button type="submit" class="btn btn-secondary" name="settimana" value="-1">Precedenti 10</button>
        </div>
        <br>
        <div class="col-auto">
            <button type="submit" name="settimana" value="1" class="btn btn-primary">Successivi 10</button>
        </div>
    </div>
</form>
{% endblock %}