{% extends 'gestionale/base.html' %}

{% block ricette %}
<h2>Ricettario</h2>
<a href="{{url_for('ricettario.addSemi')}}" class="btn btn-primary">Aggiungi prodotto</a>
<br>
<br>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="center">
    {% for message in messages %}
      <h2 class="text-center">{{ message }}</h2>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
    <div class="row">
        {% for i in range(0, len_ricette)%}

            <a href="{{url_for('ricettario.ricetta', id=Prod[i].Id)}}">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                <img src="{{url_for('static', filename=Prod[i].img)}}" class="card-img-top MagImg" alt="...">
                    <div class="card-body">
                        <h3 class="card-title text-center">{{Prod[i].Nome}}</h3>
                        <p class="card-text text-center">{{Prod[i].Incipit}}</p>
                        <h5>Ingredienti</h5>

                        {% for j in range(0, Ing[i]|length) %}
                            <p>{{Ing[i][j][0]}} : {{Ing[i][j][1]}}</p>
                        {% endfor %}

                    </div>
                </div>
            </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}