{% extends 'gestionale/base.html' %}

{% block dati %}
<div class="center">
    <h2 class="text-center">{{Ricetta.Nome}}</h2>
    <h4 class="text-center">{{Ricetta.Categoria}}</h4>
    <br>
</div>
<div class="center">
    <p class="text-center">{{Ricetta.Descrizione}}</p>
    <br>
</div>
<div class="row">
    <div class="col-6">
        <div class="center">
            <h6>Ingredienti</h6>
            <p class="padding">
                {% for ingrediente in Ingredienti %}
                    {{ingrediente[0]}} {{ingrediente[1]}} {{ingrediente[2]}}
                    </br>
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="col-6">
        <div class="center">
            <h6>Altre informazioni</h6>
            <ul>
                <li>numero persone: </li>
                <li>tempo di preparazione: {{Ricetta.Tempo}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="center">
    <p class="text-center">
        {{Ricetta.Preparazione}}
    </p>
</div>

{% endblock %}